<% layout('./layouts/boilerplate') %>
<h1>Description: <%= transaction.description %></h1>
<h2>Cost: $<%= transaction.cost %></h2>
<h2>Date: <%= transaction.date %></h2>
<img src="<%= transaction.image %> " alt="">

<footer>
  <a href="/transactions">All Transactions</a>
  <a href="/transactions/<%=transaction._id %>/edit">Edit</a>
  <form action="/transactions/<%=transaction._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</footer>