<% layout('./layouts/boilerplate') %>

<div class="row mb-3">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= transaction.image %>" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class="card-title"><%= transaction.description %></h5>
                <p class="card-text">$<%= transaction.cost %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= transaction.date %></li>
                <li class="list-group-item">Created by: <%= transaction.author.username %></li>
            </ul>
            <% if (currentUser && transaction.author.equals(currentUser._id)) { %>
            <div class="card-body">
                <a href="/transactions/<%=transaction._id %>/edit" class="card-link btn btn-primary">Edit</a>
                <form class="d-inline" action="/transactions/<%=transaction._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">2 days ago</div>
        </div>
        <footer>
            <a href="/transactions">All Transactions</a>
        </footer>
    </div>
    <div class="col-6">
        <h2>Leave Some Notes</h2>
        <form action="/transactions/<%= transaction._id %>/notes" method="POST" class="mb-3 validated-form" novalidate>
            <div class="div">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="note[rating]" id="rating" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Notes</label>
                <textarea class="form-control" name="note[body]" id="body" cols="30" rows="10" required></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% for (let note of transaction.notes){ %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Rating: <%= note.rating %></h5>
                <p class="card-text">Note: <%= note.body %></p>
                <form action="/transactions/<%= transaction._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>
